---
import me from "../assets/fsdfsaaedsq.png";
---

<div class="about">
    <div class="container">
        <div class="pageTitle">A propos</div>
        <!--<img src={me} alt="" /> -->
    </div>
</div>
<style>
    .about {
        background-color: #10120e;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pageTitle {
        font-size: 35px;
        text-align: center;
        color: white;
        margin-bottom: 50px;
    }
</style>
