<div class="contact">
    <div class="container">
        <div class="pageTitle">Contact</div>
        <a href="https://calendly.com/thomasdiego" class="calendly"
            >✅ Prendre un rendez-vous en 2 minutes ✅</a
        >
    </div>
</div>
<style>
    .contact {
        background-color: #10120e;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    .pageTitle {
        font-size: 35px;
        text-align: center;
        color: white;
        margin-bottom: 50px;
    }
    .calendly {
        width: fit-content;
        background-color: #10120e;
        color: white;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
        background-color: #23410b;
        padding: 20px;
        border-radius: 15px;
    }
    .calendly:hover {
        opacity: 0.8;
    }
</style>
