<div class="footer">
    <div class="container">
        <!-- make a footer -->
        <p>
            &copy; thomasdiego 2022<br />
            Powered by <a class="link" href="https://astro.build/">Astro</a>
        </p>
    </div>
</div>
<style>
    .footer {
        background-color: #10120e;
        padding-top: 50px;
        padding-bottom: 20px;
        text-align: center;
        color: gray;
    }
    .link {
        color: #fff;
    }
</style>
