<div class="services">
    <div class="container">
        <div class="pageTitle">Mes services</div>
    </div>
    <div class="container cardGrid">
        <div class="card">
            <div class="cardTop">Le plus optimale</div>
            <div class="cardTitle">Création de zéro</div>
            <div class="cardContent">
                <p>
                    Je code un site internet de A à Z, en fonction de vos
                    besoins et de vos envies.
                </p>
                <p>Il pourra être dynamique ou statique</p>
                <p>
                    Vous pourrez choisir le nombre de pages, le design, les
                    couleurs, les polices, les images, etc... ou je pourrai vous
                    en proposer.
                </p>
                <p>
                    Le site sera responsive, c'est à dire qu'il s'adaptera à
                    toutes les tailles d'écran.
                </p>
                <p>
                    Il sera également optimisé pour le référencement naturel
                    afin d'être bien positionné sur les moteurs de recherche.
                </p>
                <p>
                    Il pourra être hébergé sur nos serveurs qui sont sécurisés,
                    rapides et fiables.
                </p>
            </div>
            <div class="cardButton">En savoir plus</div>
        </div>

        <div class="card">
            <div class="cardTitle">Refonte</div><div class="cardContent">
                <p>
                    Je réutilise la charte graphique de votre site actuel pour
                    le refaire en version plus moderne, plus responsive et plus
                    optimisé pour le référencement naturel.
                </p>
                <p>
                    Je peux également vous proposer de nouvelles
                    fonctionnalités.
                </p>
                <p>
                    Il pourra être hébergé sur nos serveurs qui sont sécurisés,
                    rapides et fiables.
                </p>
            </div>
            <div class="cardButton">En savoir plus</div>
        </div>

        <div class="card">
            <div class="cardTitle">Optimisation</div><div class="cardContent">
                <p>
                    Je vous propose de faire une analyse de votre site afin de
                    vous proposer des améliorations pour le rendre plus
                    performant.
                </p>
                <p>
                    Je peux également vous proposer de nouvelles
                    fonctionnalités.
                </p>
                <p>
                    Il pourra être hébergé sur nos serveurs qui sont sécurisés,
                    rapides et fiables.
                </p>
            </div>
            <div class="cardButton">En savoir plus</div>
        </div>
    </div>
</div>

<style>
    ul {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    li {
        margin-bottom: 20px;
    }
    .cardTop {
        margin-left: -30px;
        margin-top: -62px;
        height: 50px;
        text-align: center;
        position: absolute;
        width: 100%;
        background-color: #23410b;
        display: flex;
        align-items: center;
        place-content: center;
        border-radius: 10px 10px 0px 0px;
        font-size: 20px;
    }
    .cardContent {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .services {
        background-color: #10120e;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pageTitle {
        font-size: 35px;
        text-align: center;
        color: white;
        margin-bottom: 50px;
    }
    .cardGrid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }
    .card {
        padding: 15px 30px;
        border-radius: 10px;
        border: 2px solid #23410b;
        color: white;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .cardTitle {
        font-size: 30px;
        text-align: center;
    }
    .cardButton {
        width: fit-content;
        margin: 0 auto;
        padding: 16px 32px;
        border-radius: 5px;
        background-color: #23410b;
        color: white;
        text-align: center;
    }
</style>
